#summary-list {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

#summary .collapse a {
    margin-left: 5%;
    width: 95%;
}

#summary .collapse .active a {
    margin-left: 5%;
    width: 95%;
    background: #83b0e4;
    color: #FFF;
}

#summary > .list-group > a {
    background: #eee;
}

.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

.chapter {
    padding: 0 50px 50px;
}

.chapter-title {
    color: #777;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: -1px;
}

.chapter-content {
    text-align: justify;
    line-height: 140%;
    text-indent: 20px;
}

.col-centered {
    margin: 0 auto;
}