@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
    overflow-y: scroll !important;
}

body {
    font-family: roboto;
}

textarea {
    resize: none;
}

a:active, a:focus, a.link {
    outline: 0;
    border: none;
    outline-style: none
  }